body{
    background-color: #500b50;
}
#sun{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: auto;
}
#sun div{
    display: inline-block;
    text-align: center;
    margin: 300px;
    padding: 300px;
    color: white;
    background-color: black;
    border: solid white;
    border-radius: 50%;
}