body{
    /* background-color: #500b50; */
    display:flex;
    justify-content: space-around;
    align-items: center;
}
#sun{
    margin: auto;
    padding: auto;

    display: inline-block;
    text-align: center;
    margin: 15px;
    padding: 300px;
    color: #f8f88f;
    background-color: black;
    border: solid white;
    border-radius: 50%;
}
#container{
    padding: 36px;


}
#blogcontent{
    resize: none;
}

section{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: solid;
    border-color: #f8f88f;
}

form{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px;
    padding: 300px;
    background-color: blueviolet;
    color: yellow;
}