/* body{
    margin: 0;
} */


.light_body{
    background-color: #00ffff70;
    color: black;
}







/* ===============================================================================Dark Theme============================================================================================= */


.dark_body{
    color: yellow;
    background-color: #03032b;
}