/* body{
    color: yellow;
    background-color: #03032b;
} */


.light_body{
    background-color: #00ffff70;
}







/* ===============================================================================Dark Theme============================================================================================= */


.dark_body{
    color: yellow;
    background-color: #03032b;
}